<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="defaultConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <Console name="traceConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg"/>
        </Console>
    </Appenders>
    <Loggers>
        <logger name="fr.uga.pddl4j.util.MemoryAgent" level="trace" additivity="false">
            <AppenderRef ref="traceConsole"/>
        </logger>
        <logger name="fr.uga.pddl4j.planners.statespace.StateSpacePlannerFactory" level="trace" additivity="false">
            <AppenderRef ref="traceConsole"/>
        </logger>
        <logger name="fr.uga.pddl4j.planners.Planner" level="trace" additivity="false">
            <AppenderRef ref="traceConsole"/>
        </logger>
        <logger name="fr.uga.pddl4j.planners.ProblemFactory" level="trace" additivity="false">
            <AppenderRef ref="traceConsole"/>
        </logger>
        <logger name="fr.uga.pddl4j.encoding.Encoder" level="trace" additivity="false">
            <AppenderRef ref="traceConsole"/>
        </logger>
        <logger name="fr.uga.pddl4j.encoding.PreInstantiation" level="trace" additivity="false">
            <AppenderRef ref="traceConsole"/>
        </logger>
        <logger name="fr.uga.pddl4j.parser.ErrorManager" level="trace" additivity="false">
            <AppenderRef ref="traceConsole"/>
        </logger>
        <logger name="fr.uga.pddl4j.parser.Parser" level="trace" additivity="false">
            <AppenderRef ref="traceConsole"/>
        </logger>
        <Root level="error">
            <AppenderRef ref="defaultConsole"/>
        </Root>
    </Loggers>
</Configuration>
